.DS_Store
/Pods
/Podfile.lock
# *.a #忽略所有.a 结尾的文件
# !lib.a #但lib.a 除外
# /TODO #仅仅忽略项目目录下的 TODO 文件,不包括subdir/TODO
# build/ #忽略build/ 目录下的所有文件
# doc/*.txt #会忽略doc/notes.txt 但不包括 doc/server/arch.txt

## Build generated
#build/
#DeriveData/



## other ---
#*.moved-aside
#*.xcuserstate
